<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Póstero Org</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <meta property="og:url" content="https://mural-demo.apphb.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mural - Póstero Org." />
    <meta property="og:description" content="Seu mural de notas com suporte a formatação Markdown." />
    <meta property="og:image" content="https://mural-demo.apphb.com/content/images/layout/og-image.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@felipemfp")" />
    <meta name="twitter:creator" content="@("@felipemfp")" />
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        footer {
            padding: 1em 0;
        }

        .md-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
    <form action="@Url.Action("Login")" method="post" id="modalAcessar" class="modal fade" role="dialog" aria-labelledby="modalAcessarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAcessarLabel">Acessar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Nome do usuário</label>
                        <input placeholder="Nome do usuário" id="username" name="username" type="text" class="form-control" pattern="^[a-zA-Z0-9_]{6,}$" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input placeholder="Senha" id="password" name="password" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Acessar</button>
                </div>
            </div>
        </div>
    </form>

    <form action="@Url.Action("Register")" method="post" id="modalCadastro" class="modal fade" role="dialog" aria-labelledby="modalCadastroLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalCadastroLabel">Cadastro</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Nome do usuário</label>
                        <input placeholder="Nome do usuário" id="username" name="username" type="text" class="form-control" pattern="^[a-zA-Z0-9_]{6,}$" required>
                        <p class="help-block">
                            Escolha um nome de usuário utilizando apenas caractéres alfanuméricos e traço baixo, e deve ter pelo menos 6 caractéres.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input placeholder="Senha" id="password" name="password" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <p class="help-block">
                            Deve ter pelo menos um número, uma letra maiúscula, uma letra minúscula e 8 caractéres ou mais.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">Confirme a senha</label>
                        <input placeholder="Confirme a senha" id="passwordCheck" name="passwordCheck" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <p class="help-block">
                            Confirme a senha digitada anteriormente.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>

    <form action="@Url.Action("New")" method="post" id="modalNova" class="modal fade" role="dialog" aria-labelledby="modalNovaLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalNovaLabel">Nova nota</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="note">Nota</label>
                        <textarea placeholder="Nota" id="note" name="note" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </form>

    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Mural</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["User"] != null)
                        {
                            <li><a>@("@" + (Session["User"] as User).Username)</a></li>
                            <li><a href="#" data-target="#modalNova" data-toggle="modal">Nova</a></li>
                            <li><a href="@Url.Action("Logout")">Sair</a></li>
                        }
                        else
                        {
                            <li><a href="#" data-target="#modalAcessar" data-toggle="modal">Acessar</a></li>
                            <li><a href="#" data-target="#modalCadastro" data-toggle="modal">Cadastro</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @foreach (var alert in (List<Alert>)TempData["Alerts"])
            {
                <div class="alert @(string.IsNullOrEmpty(alert.Type) ? "" : $"alert-{alert.Type}") alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @if (!string.IsNullOrEmpty(alert.Title))
                    {
                        <strong>@alert.Title</strong>
                    }
                    @alert.Message
                </div>
            }
            
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="container">
            Feito com <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> por <a href="//github.com/PosteroOrg" target="_blank">Póstero</a>
            <span class="pull-right">Disponível no <a class="grey-text text-lighten-4 right" href="//github.com/PosteroOrg/mural" target="_blank">GitHub</a></span>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/pt-br.js"></script>
    <script>
        $(function () {
            var timeOut;

            function updateTimes() {
                document.querySelectorAll('time').forEach(function (element) {
                    var dt = element.getAttribute('datetime'),
                        momentDt = moment(dt);
                    element.innerHTML = momentDt.fromNow();
                    element.setAttribute('title', momentDt.format('llll'));
                });
                setUpdateTimes();
            }

            function setUpdateTimes() {
                timeOut = setTimeout(updateTimes, 10000);
            }

            updateTimes();
        });
    </script>
    @RenderSection("Scripts")
</body>
</html>